// Variable overrides
// See node_module/bootstrap/scss/_variables.scss for all options
$primary: #cf6766;
$secondary: #30415d;
$dark: #031424;

$font-weight-base: 200;


// Default bootstrap
@import "~bootstrap/scss/bootstrap";
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

#search-helper {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

// Album template
:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.below-nav {
  margin-top: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}

.spacer {
  height: 100px;
}

section.content {
  padding-top: calc(var(--jumbotron-padding-y) * 2);
  padding-bottom: calc(var(--jumbotron-padding-y) * 2);
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid $secondary; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.book-results-container, .book-results-container div {
  width: 100%;
}